@page
@model IndexModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<body>
    <partial name="_StatusMessage" for="StatusMessage" />
    <section class="ftco-section ftco-no-pt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 heading-section ftco-animate mb-5">
                    <h2 class="mb-2">Profile</h2>
                </div>
                <div class="col-md-12 heading-section ftco-animate mb-5">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="btn btn-link">Logout</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
            <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <div>
                    @if(Model.Input.img == null){
                        <img id="MyAvatar" class="img-thumbnail" src="~/images/user.png" width="400" height="400"/>
                    }else{
                        <img id="MyAvatar" class="img-thumbnail" src="@Model.Input.img" width="400" height="400"/>
                    }
                </div>
                <div>
                    <label>Escolha uma imagem de perfil:</label>
                    <input type="file" asp-for="Input.img" accept=".png,.jpg,.jpeg,image/png,image/jpeg" class="form-control"
                        onchange="document.getElementById('MyAvatar').src = window.URL.createObjectURL(this.files[0])" name="img"/>
                    <span asp-validation-for="Input.img" class="text-danger"></span>
                </div>
            </div>
            <div class="form-floating">
                <label asp-for="Username" class="form-label" ></label>
                <input asp-for="Username" class="form-control" disabled/>
            </div>           
            <div class="form-floating">
                <label asp-for="Input.Name" class="form-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Surname" class="form-label"></label>
                <input asp-for="Input.Surname" class="form-control" />
                <span asp-validation-for="Input.Surname" class="text-danger"></span>
            </div>            
            <div class="form-floating">
                <label asp-for="Input.TaxNumber" class="form-label"></label>
                <input asp-for="Input.TaxNumber" class="form-control"/>
                <span asp-validation-for="Input.TaxNumber" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" disabled/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary" style="margin-top: 20px">Save</button>
        </form>
    </div>
            </div>
        </div>
    </section>
    <hr />

    <h3>Logout</h3>
    <div>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="btn btn-link">Logout</button>
        </form>
    </div>

</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
